<html>
  <head>
  <title><%= title %></title>
  </head>
  <body>
    <h1>Hello</h1>
    <input type="text" id="msg"/>
    <input type="button" id="button" value="buttons~"/>
    <p id="result">hihi</p>
  </body>
  <script>
        const message = document.getElementById('msg');
        const button = document.getElementById('button');
        var result = document.getElementById('result');
        button.addEventListener('click', (e) => {
            alert(message.value);
            result.innerText = message.value
        })
  </script>
</html>